[Desktop Entry]
Name=PollyMC Linux
Type=Application
Comment=Play Minecraft game
Terminal=false
Exec=/home/frank/Franks/Games/Minecraft/PollyMC-Linux-7.2-x86_64.AppImage
Categories=Development;
