# My aliases

alias asp="arch_snapshot"
alias add='sudo snap-pac'
alias up='sudo arch_update_snapshot '
alias pkg='pacman -Ss'
alias del='sudo pacman -Rns'
alias zshrc='$EDITOR ~/.zshrc && source ~/.zshrc'
alias vk='VK_INSTANCE_LAYERS=VK_LAYER_MESA_overlay vkcube'
alias vk1='mangohud VK_INSTANCE_LAYERS=VK_LAYER_MESA_overlay vkcube'
alias icon1='sudo pacman -S papirus-icon-theme --noconfirm'
alias gc='git clone'
alias aliases='nvim ~/.aliases'
alias cache='cd /var/cache/pacman/pkg && ls | wc -l && du -h'
alias sa='systemd-analyze'
alias aur='pacman -Qm'
alias ptam='df -h /dev/sdb1'
alias iso='df -h /dev/sdb'
alias atam='du -h'
alias ls='lsd'
alias lsa='lsd -lha'
alias mkdir='mkdir -v'
alias pdf='$HOME/.projects/Zathura-Pywal/zathura'
alias cpu="clear && ps -A --sort -rsz -o pid,comm,pmem,pcpu|awk 'NR<=20'"
alias ug='sudo grub-mkconfig -o /boot/grub/grub.cfg'
alias fonts='clear && kitty list-fonts'
alias py3='python3'
alias xp='xprop | grep WM_CLASS'
alias hd1='clear && sudo hdsentinel'
alias hd2='clear && sudo smartctl -a /dev/sda'
alias disks='clear && echo "╓───── d i s k . u s a g e"; echo "╙────────────────────────────────────── ─ ─ ";
 df -h;'
alias emojis="$EDITOR ~/.emojis"
alias musica="cmus"
alias usb='lsusb'
alias q='exit'
alias rice='clear && curl -L "https://git.io/rice"'
alias c='clear'
alias music='mpd && ncmpcpp'
alias kmpd='killall mpd'
alias am='aur_make'
alias scr='nvim $HOME/.scripts'
alias sts='curl -fsSL https://starship.rs/install.sh | sh'
alias win='timedatectl set-local-rtc 1'
alias ytd='$HOME/Scripts/ytdown.sh'
alias pasters='$HOME/Scripts/paste.sh'
alias pass='$HOME/Scripts/senha.sh'
alias senha='python3 $HOME/Scripts/pass.py'
alias url='python3 $HOME/Scripts/short_url.py'
alias qr='python3 $HOME/Scripts/qrcode.py'
alias binds='python3 $HOME/Scripts/i3keybinds.py'
alias btc='python3 $HOME/Scripts/btc.py'
alias tg="tetriscurses"
alias mk="clear && makepkg -sic"
alias delt="rm -rf ~/Downloads/Telegram\ Desktop"
alias sf="systemctl --failed"
alias img="kitty +kitten icat"
alias p="p10k configure"
alias ...="source"
alias d="deactivate"
alias pyv="~/Scripts/pyvenv.sh"
alias status="systemctl status"
alias restart="sudo systemctl restart"
alias on="sudo systemctl enable"
alias bin="cd ~/.local/bin"
alias rb="reboot"
alias stop="sudo systemctl stop"
alias scan="clamscan"
alias list="clear && sudo btrfs subvolume list /"
alias logs="journalctl --vacuum-time=1w"
alias inf="clear && inxi -bGI"
alias dm="sudo dmesg"
alias off="sudo systemctl disable"
alias st="clear && speedtest"
alias rom="$HOME/Scripts/StockROM.sh"
alias cpum='watch -n1 "cat /proc/cpuinfo | grep \"^[c]pu MHz\""'
alias rs="sudo remove_snapshot"
alias sysf="~/Scripts/sysfetch.sh"
alias pyroot="sudo cp -r $HOME/.cache/wal /root/.cache"
alias check="sha256sum"
alias wh="which"
alias diff="diff --color"
alias diff1="nvim -d"
alias diff2="sudo nvim -d"
alias j="archlinux-java status"
alias mt="mastoot"
alias gpu="lspci -k | grep -EA2 "VGA""
alias less='nvim -R'
alias email="python3 ~/Scripts/email_generator.py"
alias mts="mastoot-simple"
alias aid="stat -c %w /"
alias req="pip freeze > requirements.txt"
alias pu="pip freeze | xargs pip uninstall -y"
alias podm='~/Scripts/pod.sh'
alias ght='~/Scripts/token-gh.sh'
